@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("/resources/christmas.jpg");
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.layer {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 1.5em;
    color: white;
}

.centerBlock {
    width: 300px;
    border-radius: 6px;
    margin: 0 auto 0 auto;
    padding: 0px 0px 40px 0px;
    border: rgba(112, 112, 112, 0.5) 4px solid;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
}

.inputText {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: black;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}

.btn {
    background: #2ecc71;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
}

.btn:hover{
    background: #2CC06B;
    border: #1f8b4c 1px solid;
}

.btn:focus{
    border: #1f8b4c 2px solid;
}

.signup {
    position: absolute;
    transform: translate(-50%);
    bottom: 5%;
    width: 100%;
}